{% include 'header.twig' %}

<article id="post-{{ post.id }}" class="post-type-{{ post.post_type }} {{ function('get_post_class')|join(' ') }}">

	{% if post.title %}
		<div class="obj-width-limiter">
			<h1>{{ post.title }}</h1>
		</div>
	{% endif %}

	<div class="obj-width-limiter cmp-post-body">
		{# content block from child templates #}
		{% block content %}
			<div class="obj-width-limiter">
				Sorry, no content
			</div>
		{% endblock %}
		{% if primary_sidebar %}
			<aside class="obj-width-limiter cmp-primary-sidebar">
				{{ primary_sidebar }}
			</aside>
		{% endif %}
	</div>
</article>

{% include 'footer.twig' %}
