<!doctype html>
<html {{ site.language_attributes }} class="no-js">
	<head>
		<meta charset="{{ site.charset }}"/>
		<meta name="description" content="{{ site.description }}">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="profile" href="https://gmpg.org/xfn/11">
		{{ function('wp_head') }}
	</head>
	<body {{ body_class }}>
		{{ function('wp_body_open') }}

		{% include 'partials/header.twig' %}

		<main id="main">
			<article id="post-{{ post.id }}" class="post-type-{{ post.post_type }} {{ function('get_post_class')|join(' ') }}">

				<div class="obj-width-limiter">
					{% block title %}
						{% if post.title %}
							<h1>{{ post.title }}</h1>
						{% endif %}
					{% endblock %}
				</div>

				<div class="cmp-post-body obj-width-limiter">
					{# content block from child templates #}
					{% block content %}
						<div>
							Sorry, no content
						</div>
					{% endblock %}
					{% if sidebar_widget %}
						<aside class="cmp-primary-sidebar">
							{{ sidebar_widget }}
						</aside>
					{% endif %}
				</div>
			</article>
		</main>

		{% include 'partials/footer.twig' %}

		{{ function('wp_footer') }}
	</body>
</html>
